{{#link-to "podcast" podcast class="podcast"}}
  <div class="info">
    <h3>
      {{podcast.title}}
    </h3>
    <p>
      {{podcast.description}}
    </p>
    <div class="links">
      {{#link-to "podcast" podcast type="button" class="btn btn-sm btn-default"}}
        {{fa-icon "list"}} Episode list
      {{/link-to}}
      {{apple-podcasts-link-comp podcast=podcast}}
      {{rss-feed-link-comp podcast=podcast}}
    </div>
  </div>
  <img src={{concat ENV.cdnURL "/" podcast.image}} />
{{/link-to}}
