<article class="row {{if post.isDraft "bg-warning"}}">
  {{#if post.isDraft}}
    <button class="btn btn-xs btn-default publish-draft-btn" type="button" {{action "publishDraft" post}}>
      Publish
    </button>
  {{/if}}
  <div class="col-sm-12">

    <div class="row title">
      <div class="col-sm-{{gutterColumns}}"></div>
      <div class="col-sm-{{contentColumns}}">
        <h1>
          {{#if post.featureLink}}
            <a href={{concat ENV.publicURL post.featureLink}}>
              {{#if showAsterisk}}
                <span class="glyphicon glyphicon-asterisk"></span>
              {{/if}}
              {{post.title}}
            </a>
          {{else}}
            {{#link-to "post" post.slug}}
              {{#if showAsterisk}}
                <span class="glyphicon glyphicon-asterisk"></span>
              {{/if}}
              {{post.title}}
            {{/link-to}}
          {{/if}}
        </h1>
      </div>
      <div class="col-sm-{{gutterColumns}}"></div>
    </div>
    
    {{#if showFeatureImage}}
      <div class="row feature-image">
        <a href={{concat ENV.publicURL post.featureLink}}>
          <img src={{concat ENV.cdnURL post.featureImage}}>
        </a>
      </div>
    {{/if}}

    <div class="row content">
      <div class="col-sm-{{gutterColumns}} taxonomy">
        {{#if showTaxonomy}}
          {{post/taxonomy-comp post=post}}
        {{/if}}
      </div>
      <div class="col-sm-{{contentColumns}}">
        <p>{{ellipsis post.htmlBody bodyLimit}}</p>
        {{#if showAttribution}}
          <p>&mdash; by {{post/attribution-comp post=post}}</p>
        {{/if}}
        <hr class={{if showHorizontalRule "" "invisible"}}>
      </div>
      <div class="col-sm-{{gutterColumns}} episode-info">
        {{#if episode}}
          <button type="button" class="btn btn-xs btn-info">Episode {{episode.number}}</button>
          <button type="button" class="btn btn-xs btn-info">Length {{pretty-duration episode.duration}}</button>
          {{#if episode.explicit}}
            <p>
              <button type="button" class="btn btn-xs btn-danger">
                Explicit
              </button>
            </p>
          {{/if}}
        {{/if}}
      </div>
    </div>

  </div>
</article>