<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>author</th>
      <th>createdAt</th>
      <th>project</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |post|}}
      <tr>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.author.fullName}}</td>
        <td>{{formatted-date post.createdAt "YYYY-MM-DD HH:mm:ss"}}</td>
        <td><span class={{if post.featureImage "glyphicon glyphicon-ok"}}></span></td>
        <td>
          {{#link-to "admin.posts.edit" post}}
            <span class="glyphicon glyphicon-pencil"></span>
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}