<table>
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>author</th>
      <th>createdAt</th>
      <th>feature image</th>
    </tr>
  </thead>
  {{#each model as |tag|}}
    <tr>
      <td>{{tag.id}}</td>
      <td>{{tag.title}}</td>
      <td>{{tag.author}}</td>
      <td>{{formatted-date tag.createdAt "YYYY-MM-DD HH:mm:ss"}}</td>
      <td>{{tag.featureImage}}</td>
    </tr>
  {{/each}}
</table>
