<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#createTagModal">New Tag</button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>created</th>
      <th>updated</th>
      <th></th>
    </tr>
  </thead>
  {{#each model as |tag|}}
    <tr>
      <td>{{tag.id}}</td>
      <td>{{tag.name}}</td>
      <td>{{formatted-date tag.createdAt}}</td>
      <td>{{formatted-date tag.updatedAt}}</td>
      <td>
        <span class="glyphicon glyphicon-pencil">
          <a href="#" {{action "editTag" tag}}></a>
        </span>
        <span class="glyphicon glyphicon-remove">
          <a href="#" {{action "deleteTag" tag}}></a>
        </span>
      </td>
    </tr>
  {{/each}}
</table>

<div class="modal fade" id="createTagModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">New Tag</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="nameInput">Name</label>
          {{input type="text" class="form-control" id="nameInput" value=name}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action "createTag"}}>Create</button>
      </div>
    </div>
  </div>
</div>
