<div class="row">
  <div class="col-sm-12">
    {{link-to "New Tag" "admin.tags.new" class="btn btn-primary pull-right"}}
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>created</th>
      <th>updated</th>
      <th></th>
    </tr>
  </thead>
  {{#each model as |tag|}}
    <tr>
      <td>{{tag.id}}</td>
      <td>{{tag.name}}</td>
      <td>{{formatted-date tag.createdAt}}</td>
      <td>{{formatted-date tag.updatedAt}}</td>
      <td>
        <span class="glyphicon glyphicon-pencil">
          <a href="#" {{action "editTag" tag}}></a>
        </span>
        <span class="glyphicon glyphicon-remove">
          <a href="#" {{action "deleteTag" tag}}></a>
        </span>
      </td>
    </tr>
  {{/each}}
</table>

{{outlet}}