{{header-comp showTitle=true fullWidth=true class="default-header"}}

{{nav-comp}}

{{!-- {{haiku-comp}} --}}

<main class="about container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <p style="text-align: center">
        I grew up on a chicken ranch in central California.<br>
        I live in Silicon Valley now.<br>
        I used to be good at video games.<br>
        I can speak espanish if I need to.<br>
        I read science fiction and fantasy.<br>
        I only drive Subarus.<br>
        I didn't eat animals for a year.<br>
        I think about space a lot.<br>
        I hate most movies and TV shows.<br>
        I prefer pale ales and Old Fashioned cocktails.<br>
        I don't participate in religion.<br>
        I rarely look at ingredients on a menu.<br>
        I enjoy the companionship of dogs.<br>
      </p>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-5 social-media">
          {{twitter-comp}}
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 social-media goodreads-reviews">
          {{goodreads-comp}}
          {{#each goodreadsReviews as |review|}}
            {{goodreads-review-comp review=review}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</main>
