{{#if model.episode}}
  {{header-comp showTitle=false fullWidth=true class=(concat model.episode.podcast.slug "-header")}}
{{else}}
  {{header-comp showTitle=true fullWidth=true class="default-header"}}
{{/if}}

{{nav-comp}}

<main class="container-fluid">
  {{post-comp post=model showFeatureImage=false}}
  {{post/comments-comp post=model}}
</main>