{{#if model.episode}}
  {{header-comp showTitle=false image=model.episode.podcast.headerImage}}
{{else}}
  {{header-comp showTitle=true}}
{{/if}}

{{nav-comp}}

<main class="container-fluid">
  {{post-comp post=model showFeatureImage=false}}
  {{post/comments-comp post=model}}
</main>